<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block (click)="calculate()"> HESAPLA </button>
</ion-content>
